@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> Learn Skating Portal - Timeline </title>

        <!-- The default timeline stylesheet -->
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/timeline/css/timeline.css")" />
        <!-- Our customizations to the theme -->
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/timeline/css/styles.css")" />

		<!-- Google Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dancing+Script|Antic+Slab" />

        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>

		<div id="timeline">
			<!-- Timeline will generate additional markup here -->
		</div>

        <!-- JavaScript includes - jQuery, turn.js and our own script.js -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="@Url.Content("~/Content/themes/timeline/js/timeline-min.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Content/themes/timeline/js/script.js")" type="text/javascript"></script>
        <!-- /EOF JAVASCRIPT -->


    </body>
</html>
